label {
    width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
    float:left;
}

input {
    float:right;
}

#addNewDiv {
    width: fit-content;  
    border: 1px solid;
    padding: 30px;  
    padding-bottom: 75px;
}

#addNewTitle {
    text-align: center;
}
