aside {
    display: flex;
    flex-direction: column;
    flex: 20%;
    float: left;
    height: auto;
}

#asideDiv1 {
    background-color:#3b4b5e;
    border: 1px solid #FC6225;
}

#asideTitle {
    margin: 0px;
    padding: 25px;
    height: 45px;
    color: #ffffff;
}

#asideDiv2 {
    background-color:#232F3E;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: 1px solid #FC6225;
}

li {
    margin-bottom: 25px;
}

a {
    color: #ffffff;
    font-size: small;
    text-decoration: none;
}

ol {
    list-style-type: none;
}