label {
    width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
    float:left;
}

input {
    float:right;
}

#updateDiv {
    width: fit-content;    
}

#updateTitle {
    text-align: center;
}
